img {
  width: 150px;
  height: auto;
}
.form-signing {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.container {
  margin-top: 2em;
}


.forgotPassword {
  color: blue;
}

.forgotPassword:hover {
  cursor: pointer;
}

button {
  width: 100%;
}
mat-tab-group {
  color: white!important;
}
::ng-deep .mat-tab-label .mat-tab-label-content {
  color: lime!important;
}
::ng-deep .mat-ink-bar {
  background-color: red!important;
}
