<h1 mat-dialog-title>Passwort vergessen</h1>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <form (ngSubmit)="onForgotPassword()" [formGroup]="forgotPasswordForm" *ngIf="forgotPasswordForm">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          [ngClass]="{
                        'is-invalid': forgotPasswordForm.controls.email.invalid &&
                          (forgotPasswordForm.controls.email.dirty || forgotPasswordForm.controls.email.touched),
                         'is-valid': forgotPasswordForm.controls.email.valid
                      }"
          class="form-control"
          formControlName="email"
          id="email"
          placeholder="E-Mail"
          type="email">
        <div *ngIf="forgotPasswordForm.controls.email.errors &&
           (forgotPasswordForm.controls.email.dirty || forgotPasswordForm.controls.email.touched)"
             class="invalid-feedback">
          <p *ngIf="forgotPasswordForm.controls.email.errors.required">E-Mail ist ein Pflichtfeld</p>
          <p *ngIf="forgotPasswordForm.controls.email.errors.email">Ungültige E-Mail</p>
        </div>
      </div>
      <button [disabled]="forgotPasswordForm.invalid || !forgotPasswordForm.dirty" class="btn btn-primary mt-4"
              type="submit">
        Senden
      </button>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn btn-outline-secondary" mat-dialog-close>Schliessen</button>
</mat-dialog-actions>

