<div class="container">
  <h6>Was ist neu in Version: {{appVersion}} ?</h6>
  <ul>
    <li>Längen und Breitengrad lassen sich beim Fang speichern</li>
    <li>Längen und Breitengrad werden automatisch ausgefüllt sofern auf die Position zugegriffen werden darf</li>
    <li>Hat der Fang GPS-Koordinaten, kann in der Detailansicht über einen Button die Position auf Google Maps betrachtet werden</li>
  </ul>
  <p (click)="onVersion()">Alle Änderungen und den Quellcode findet Ihr hier <i class="fa fa-arrow-right"></i></p>
  <div id="closeButton">
    <button class="btn btn-sm btn-secondary" mat-dialog-close>Schliessen</button>
  </div>
</div>
